.card {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  width: 250px;
  height: 425px;
  word-wrap: break-word;
  padding: 1rem 1.5rem;
  background-color: #2A2A2F;
  border-radius: 25px;
  font-size: 0.8rem;
  color: whitesmoke;
  font-family: 'poppins',sans-serif;
  position: relative;
}
.card img{
  width: 225px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
}

a h2 {
  height: 63px;
  word-break: break-all;
  overflow: hidden;
  color: aliceblue;
}

.card div {
  display: flex;
  justify-content: space-between;
}
.card i{
  position: absolute;
  right: 0;
  transform: translateX(-30px);
}